{% extends 'blog/base.html' %}
{% block title %}Comments | Student Comments{% endblock %}
{% block content %}
{% for post in posts %}
    <div class="post">
        <div class="date">
            <p><i class="fa fa-bullhorn"></i><b> Опубликовано: </b>{{ post.published_date }}</p>
            <p><i class="fa fa-user"></i><b> Автор: </b>{{ post.author }}</p>

        </div>
        <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
        <p class="context">{{ post.text|linebreaksbr }}</p>
    </div><hr>
{% endfor %}
{% endblock %}